<section class="hero">

  <h1>Diseño y Construcción de Proyectos Modernos</h1>

  <p>Especialistas en construcción, arquitectura y remodelaciones.</p>

  <div class="hero-buttons">
	  <a href="#" class="btn-secondary">Ver Proyectos</a>
    <a href="#" class="btn-primary">Solicitar Cotización</a>
  </div>

</section>