<header class="header">

  <div class="container-header">

    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Aproservis Logo">
    </a>

    <nav>
      <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/acerca">Acerca</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>

    <a href="/contacto" class="btn-nav">Cotizar</a>

  </div>

</header>