<header class="navbar">

  <div class="container">

    <h2 class="logo">Aproservis</h2>

    <nav>
      <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>

  </div>

</header>