<section class="hacemos">

<div class="container-hacemos">

<!-- TEXTO SUPERIOR -->
<span class="subtitulo">NUESTROS SERVICIOS</span>

<!-- TITULO -->
<h2 class="titulo-hacemos">

¿QUE HACEMOS?
</h2>

<!-- DESCRIPCION -->
<p class="descripcion-hacemos">
Ofrecemos servicios especializados en diseño, construcción y desarrollo
de proyectos, garantizando calidad, eficiencia y resultados duraderos.
</p>


<!-- GRID DE SERVICIOS -->
<div class="grid-hacemos">

  <!-- servicio 1 -->
  <div class="img-hacemos">
    <img src="/images/que_hacemos_2.svg" alt="">
  </div>

  <div class="card-texto">
    <h3>Diseño Arquitectónico</h3>
    <p>Proyectos modernos y funcionales adaptados a cada necesidad.</p>
  </div>

  <!-- servicio 2 -->
  <div class="img-hacemos">
    <img src="/images/que_hacemos_1.png" alt="">
  </div>

  <div class="card-texto">
    <h3>Construcción</h3>
    <p>Ejecutamos obras con materiales de alta calidad y precisión.</p>
  </div>

  <!-- servicio 3 -->
  <div class="img-hacemos">
    <img src="/images/que_hacemos_1.png" alt="">
  </div>

  <div class="card-texto">
    <h3>Remodelaciones</h3>
    <p>Transformamos espacios para mejorar su funcionalidad.</p>
  </div>

  <!-- servicio 4 -->
  <div class="img-hacemos">
    <img src="/images/que_hacemos_3.png" alt="">
  </div>

  <div class="card-texto">
    <h3>Obras Civiles</h3>
    <p>Infraestructura segura y eficiente para proyectos grandes.</p>
  </div>

   <!-- servicio 5 -->
  <div class="img-hacemos">
    <img src="/images/que_hacemos_1.png" alt="">
  </div>

  <div class="card-texto">
    <h3>Remodelaciones</h3>
    <p>Transformamos espacios para mejorar su funcionalidad.</p>
  </div>

  <!-- servicio 6 -->
  <div class="img-hacemos">
    <img src="/images/que_hacemos_3.png" alt="">
  </div>

  <div class="card-texto">
    <h3>Obras Civiles</h3>
    <p>Infraestructura segura y eficiente para proyectos grandes.</p>
  </div>

</div>


<!-- BOTON -->
<div class="btn-hacemos">
<a href="#" class="btn-servicios">Ver todos los servicios</a>
</div>

</div>
</section>